h1 {
    color: red; 
    font-size: 24px; 
  }
  .custom-class {
    background-color: lightgray; 
    padding: 10px; 
}
#section-1 {
    border: 2px solid green; 
    margin: 10px; 

}
#section-2 {
    border: 2px solid green; 
    margin: 10px; 

}
#unique-id {
    border: 2px solid green; 
    margin: 10px; 

}
a:hover {
    color: orange; 
}